/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
*.DS_Store
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
cosas.txt
*.minio.sys*
*.DS_Store*
bootstrap/cache/*
yarn.lock
composer.lock
package-lock.json
.idea/
.phpstorm.meta.php
_ide_helper.php
bootstrap/cache/packages.php
bootstrap/cache/services.php
composer.lock
node_modules/
package-lock.json
storage/app/public/csv/
storage/app/public/files/
storage/app/public/tiles/
storage/logs/laravel.log
vendor/
